<!DOCTYPE html>
<html>
   <head>
      <style>
         table {
		 font-family: arial, sans-serif;
		 border-collapse: collapse;
		 width: 100%;
         }
         td, th {
		 border: 1px solid #dddddd;
		 text-align: left;
		 padding: 8px;
         }
		 tr:nth-child(even) {
		 background-color: #dddddd;
         }
      </style>
   </head>
   <body>
      <h2>Check-ins</h2>
      <table>
         <tr>
            <th>Callsign</th>
            <th>Name</th>
            <th>Location</th>
            <th>Bands</th>
            <th>Modes</th>
            <th>Schedule</th>
            <th>Comment</th>
            <th>Last check-in</th>
         </tr>
         {% for entry in entries %}
         <tr>
            <th><a href="https://www.qrz.com/db/{{entry[0]}}">{{entry[0]}}</a></th>
            <th>{{entry[1]}}</th>
            <th><a href="https://www.karhukoti.com/maidenhead-grid-square-locator/?grid={{entry[2]}}">{{entry[2]}}</a></th>
            <th>{{entry[3]}}</th>
            <th>{{entry[4]}}</th>
            <th>{{entry[5]}}</th>
            <th>{{entry[6]}}</th>
            <th>{{entry[7]}}</th>
         </tr>
         {% endfor %}
      </table>
   </body>
</html>
