<!doctype html>
<html lang="de">
   <style>
      dt {
      	font-weight: bold;
      }
   </style>
   <title>European Winlink Net</title>
   <meta charset="utf-8">
   <p>Contact: <a href="mailto:DO1ESB@winlink.org">DO1ESB@winlink.org</a>, code: <a href="https://github.com/berikobama/ewn-site">github.com/berikobama/ewn-site</a></p>
   <h1><a href="/" style="text-decoration:none;color:black">European Winlink Net</a></h1>
   <b>Net control: EWN | Backup: to be announced</b>
   <p style="text-align:right">last update: 21.11.2021 13:23Z
   <p>
   <h2>Net State</h2>
   <a href="checkins">Sation list</a><br>
   <a href="/map_content">Map</a>
   <h2>Downloads</h2>
   <a href="/download_stations_csv">Sation list (csv)</a><br>
   <a href="/map_content"> Map</a>
   <h2>Disclaimer</h2>
   A winlink net is an amateur radio net, which members check in regulary, in our case once a week, to create a list of stations that could aid in case of a catastrophe.
   It encourages participating stations to use winlink regulary and train the operators skills. Furthermore: It shall connect likeminded operators to engange in further testing and training.
   <h3>How does it work in detail?</h3>
   Operators check in by filling out the form (down below) and sending it to the net control, idealy ccing the backup. Checkin forms are then evaluated once a week, every Sunday 12UTC and the results published to this website. The outcome is a map and a list containing all participating stations, as well as a "callbook" containing vital informations. This callbook is intended for download and offline storage, i shall be used to quickly connect operators in case of an emergency.
   It is important to note, that operators are not bound to a specific day to check in: Many of us are not able to get on the air regulary or to specific times. I, as an example, are only able to work /p, as i can not put up any antennas at my QTH. Therefore telnet checkins are also accepted, but not encouraged.
   <h3>What is collected?</h3>
   Callsign of the operator, First name, Location (Locator or Lat/lon), Bands of operation, modes of operation, times of operation (optional) and further capabilities (optional).
   <h3>Check in form</h3>
   The fields are separated by a ";". Spaces do not matter, as long as ";" is not used within the text, only as a delimiter.<br><br>
   <b>Subject:</b> ewn check-in<br>
   <b>Message:</b><br>
   CALLSING;FIRST NAME; LOCATION;BANDS;MODES;TIMES;FURTHER NOTES;<br>
   <br>
   <b>Example:</b><br>
   DO1ESB;Erik;JO62;80/15/10;JS8,SSB,VARA HF;MO-WED 19-22;Only portable, times varying;
   <br><br>
   <b>Example 2 (optionals not filled in):</b><br>
   DO1ESB;Erik;JO62;80/15/10;JS8,SSB,VARA HF;;;
   <h2>News</h2>
   <h3>21.11.2021</h3>
   A lot has happened in the last few days:
   <ul>
      <dt>Completly rewrote the site and the backend</dt>
      <dd>The site is now using flask. This results in a lot more flexibility for future developments</dd>
      <dd>Moved to a postgres database</dd>
      <dd>Site is now hosted on heroku</dd>
      <dd>Code can be found here: <a href="https://github.com/berikobama/ewn-site">github.com/berikobama/ewn-site</a></dd>
      <dt>Moved net control to a tactical call sign (EWN)</dt>
      <dd>Thank you DC7RF for this hint: Easier management of check ins and it keeps my private winlink account clean :)</dd>
      <dt>Implemented csv station downloads</dt>
      <dd>All entries of the station list can be downloaded as a plain csv file (readable by excel, open office, etc).</dd>
   </ul>
   <h3>04.11.2021</h3>
   Beta will go live as of now! Check-ins will be processed. Major parts of the backend code is written and running. It all comes down to setting up a database.
   After this i will implement the download section and the map. Please spread the word! Tests are much appriciated.
   <h3>21.10.2021</h3>
   This net is currently in the formation phase. Check ins will be honored, but update on this page are sparse. </br>
